/* colors
blue: hsl(186, 53%, 57%)
background-grey: hsl(0, 0%, 97%)
orange-highlight: hsl(27, 92%, 70%)
links: hsl(186, 53%, 57%)
*/

.hidden { display: none; }

body 
{
	border-top: 13px solid hsl(186, 53%, 57%);
	background-color: hsl(0, 0%, 97%);
	color: hsl(0, 0%, 25%);
	font-size: 16px;
}

/*
navigation
*/
nav a 
{
	color: hsl(0, 0%, 25%);
}
nav ul 
{
	list-style-type: none;
	margin-left: 0;
	padding-left: 1.5rem;
}
nav > ul 
{
	padding-left: 0;
}
nav>ul:nth-child(3) { margin-top: -1.5rem; padding-bottom: 0;}

nav ul li {
	padding: 0.7rem 0;
}

/*
nav a.current {
	display: block;
	height: 1.5rem;
	margin-left: -1.1rem;
	padding-left: 1rem;
	border-left: 8px solid hsl(27, 92%, 70%);
}*/
nav a.current {
	border: 1px solid hsla(27, 92%, 70%, 0.5);
	border-radius: 3px;
	padding: 4px 1rem;
	background-color: hsla(27, 92%, 70%, 0.5);
	color: #444;
}
/*
nav a.current::after {
	vertical-align: middle;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	content: "\f0a9";
	font-weight: 900;
	padding-left: 1rem;
	color: hsla(27, 92%, 70%, 1);
}*/

main a {
	color: hsla(186, 100%, 30%, 1);
}

main, nav { padding-top: 4rem; padding-bottom: 4rem; }

.brand {
	padding-bottom: 2rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid hsl(186, 53%, 57%, 0.2);
}

main { background-color: hsl(0, 0%, 100%); }
main>div
{
	padding-right: 30px;
	padding-left: 30px;
}

main h1 
{
	font-size: 2rem;
}
main h2 
{
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
}
main h3
{
	font-size: 1.2rem;
}

main section.details .summary {
	font-style: italic;
}

main .inheritance h2 { display: none; }

main .syntax h2 { display: none; }
main .code
{
	background-color: hsl(0, 0%, 95%);
	border: 1px solid hsla(0, 43%, 3%, 0.1);
	border-bottom: none;
}
main .code pre {
	padding: 0.5rem;
	border-bottom: 1px solid hsla(0, 0%, 44%, 0.1);
}
main section.details .syntax>div>div
{
	padding: 0.4rem 0.6rem;
	background-color: hsl(0, 0%, 93%);
}
main .syntax pre span {display: inline;}
main .syntax pre span.keyword { color: hsl(236, 100%, 73%); }

main code {
	color: inherit;
}
main code::after {content: " ";}

main > div> section 
{
	border-top: 1px solid hsl(186, 53%, 57%, 0.2);
	margin-top: 4rem;
	padding-top: 3rem;
}
main section.details {border-top: none; 	margin-top: 0;padding-top: 0;}

main section.details h1 
{
	margin-bottom: 2rem;
}

main section.details div.summary {
	margin: 0 0 1.5rem 0;
	font-size: 1.1rem;
	font-weight: 300;
}

main section.details .inheritance .inherits_from
{
	color: #AAAAAA;
	font-size: 1rem;
	margin-bottom: 1rem;
}
main .inheritance .inherits_from span:not(:last-child):after
{
	content: ' -> '
}
main .inheritance .derived {
	margin: 1rem 0 1.2rem 0;
	color: inherit;
}
main .inheritance .derived span
{
	display: block;
}

main section.details .details {
	margin-bottom: 1rem;
	display: none;
}

main section.members .entry,
main section.namespaces .entry
{
	margin: 1rem 0;
}

main section.members .entry .details {
	margin: 3rem;
}